
body {
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    padding: 0 0 0 0;
    margin: 0 0 0 0;

    display: flex;
    flex-direction: column;

    /* THEME */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #ffffff00; /* transparent */
    color: #ff00ffff; /* purple for debugging. app html should override */

    /* TODO body border toggle with script */
    border: #484848 solid 1px;
    border-radius: 10px;

    /* DEBUG THEME OVERRIDES */
    /* border: crimson solid 5px; */

}

#titlebar {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  /* background-color: #444444; */
  /* color: #cacaca; */
  text-align: center;
  max-height: 2.8rem;
  flex-grow: 1;
  /* display: flex; */
  /* flex-direction: column; */
  background-color: #0000ff44; color: #ff0000;  /* for debugging. app html should override */
  /* DEBUG */
  /* border: darkorange solid 10px; */
}

#titlebar button, input {
  -webkit-app-region: no-drag;
}

#appbody {
    /* make app body fit  */
    overflow: hidden; /* TODO: try clip*/
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    flex-grow: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #0000ff44; color: #ff0000;  /* for debugging. app html should override */
    /* DEBUG */
    /* border: darkgreen solid 10px; */
}
