body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  /* THEME */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  /* DEBUG. app overrides these */
  background-color: #ffff0000; /* transparent yellow */
  color: red;
}

#shell {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#appbody {
  padding: 0;
  margin: 0;
  flex: 1;
  height: 100%;
  background-color: #232223ff;
  color: #f9f9f9ff;
  overflow: scroll;
}

#toolbar {
  text-align: center;
  background-color: #171717ff;
  color: #f9f9f9ff;
}

#statusbar {
  text-align: center;
  background-color: #171717ff;
  color: #f9f9f9ff;
}
